[webservers]
raspberry1.local new_hostname=raspberry1
raspberry2.local new_hostname=raspberry2
raspberry3.local new_hostname=raspberry3
raspberry4.local new_hostname=raspberry4
raspberry5.local new_hostname=raspberry5
raspberry6.local new_hostname=raspberry6
raspberry7.local new_hostname=raspberry7
raspberry8.local new_hostname=raspberry8
raspberry9.local new_hostname=raspberry9
raspberry10.local new_hostname=raspberry10
